<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<body>
<div>
 <h1>Login</h1>
 <hr>
 <form action="#" th:action="@{/L_User}" th:object="${Registar_User}" method="POST">
	<label for="User"><b>Utilizador:</b></label>
    <input type="text" placeholder="Nome de Utilizador!" th:field="*{nome}" required>
    
    <br>
	
    <label for="psw"><b>Password:</b></label>
    <input type="password" placeholder="Enter Password!" th:field="*{password}" required>

	<br>
	
    <button type="submit" class="registerbtn">Login</button>
</form>
 <hr>
 <a th:href="@{/}"> Voltar</a>
</div>
</body>
</html>